@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 0 0% 75%;
    --foreground: 0 0% 0%;

    --card: 0 0% 82%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 82%;
    --popover-foreground: 0 0% 0%;

    --primary: 120 59% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 75%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 82%;
    --muted-foreground: 0 0% 45%;

    --accent: 240 100% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 60%;
    --input: 0 0% 82%;
    --ring: 0 0% 0%;

    --radius: 0rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 82%;

    --card: 0 0% 20%;
    --card-foreground: 0 0% 82%;

    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 82%;

    --primary: 120 59% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 82%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;

    --accent: 240 100% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 40%;
    --input: 0 0% 20%;
    --ring: 0 0% 82%;

    --radius: 0rem;
  }
}